.urlContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.url {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shortenUrl {
    color: #9bb7f4;
    text-decoration: underline;
    cursor: pointer;
}

.deleteUrl {
    border: none;
    padding-left: 30px;
}

.deleteIcon {
    margin-top: 6px;
    padding: 0;
}

.deleteIcon:hover {
    cursor: pointer;
    fill: red;
    transition: fill 0.4s;
}

.clicks {
    font-size: 14px;
    color: #9bb7f4;
    margin: 8px 0;
}