.main {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.urlShortner {
  padding: 60px 0 0 120px;
}

.title {
  margin: 0 0 20px 0;
  font-weight: 600;
  margin-bottom: 60px;
}

.urlInputContainer {
  display: flex;
}

.urlInput {
  width: 350px;
  padding: 12px 15px;
  border: 1px solid #acacac;
  color: #acacac;
  outline: none;
  font-size: 16px;
  font-weight: normal;
}

::placeholder {
  color: #acacac;
}

.shortenBtn {
  margin-top: 30px;
  padding: 14px 26px;
  border: none;
  background-color: #92278f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer
}

.shortenBtn:hover {
  background-color: #aa54a7;
  transition: background-color 0.4s;
}

@media only screen and (max-width: 768px) {
  .urlShortner {
    width: 65%;
    padding: 60px 0 0 20px;
  }

  .title {
    font-size: 30px;
  }

  .urlInput {
    width: 200px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 470px) {
  .main {
    flex-direction: column-reverse;
  }

  .urlShortner {
    width: auto;
    padding: 60px 30px;
  }

  .urlInputContainer {
    flex-direction: column;
    row-gap: 10px;
  }

  .urlInput {
    width: 300px;
  }
}